<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PostGetRequest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14AFB1112B66AEBA0072E32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AFB1272B66AEBC0072E32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AFB1312B66AEBC0072E32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
